<!-- tampilkan loading... -->
<div *ngIf="loading">Loading...</div>
<div class="container" *ngIf="page">
  <h5>All Customers</h5>
  <!-- form input untuk pencarian data -->
  <div class="form-control" *ngIf="!loading">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Enter name to search"
    />
    <!-- jika klik tombol search, panggil fungsi searchByName yg ada di users.component.ts -->
    <button class="btn btn-primary" (click)="searchByName()">Search</button>
  </div>

  <!-- dapatkan data hasil pencarian di searchResponse dan masukkan satu per satu ke data -->
  <div *ngFor="let item of searchResponse">
    <!-- tampilkan hasil pencarian dalam bentuk link  -->
    <a class="p-3" [routerLink]="['/user/', item.id]">{{
      item.customer_name
    }}</a>
  </div>

  <div class="form-control" *ngIf="!loading">
    <input type="number" [(ngModel)]="limitData" placeholder="Limit data" />
    <!-- jika klik tombol search, panggil fungsi searchByName yg ada di users.component.ts -->
    <button class="btn btn-primary" (click)="applyLimit()">Apply</button>
  </div>

  <!-- tampilkan data customer dalam tabel -->
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="!loading">
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let respons of response">
          <td>{{ respons.id }}</td>
          <td>{{ respons.customer_name }}</td>
          <td>{{ respons.phone_number }}</td>
          <td>
            <a class="btn btn-warning" [routerLink]="['/user/', respons.id]"
              >view</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <div>
    <div>
      <a [routerLink]="['/users/', prevPage, limit]" class="btn btn-primary"
        >Prev</a
      >
      <span class="p-1">{{ page }}</span>
      <a [routerLink]="['/users/', nextPage, limit]" class="btn btn-primary"
        >Next</a
      >
    </div>
  </div>
</div>
